<html ng-app="wordSpiralApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Word Spiral: Learn the foreign languages in a simple way.</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/static/site.css" rel="stylesheet" />
    <script src="/static/angularjs/angular.js"></script>
    <script src="/static/ui-bootstrap-tpls-0.12.1.js"></script>
    <script src="/static/site.js"></script>
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Word Spiral</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" title="Home">Home</a></li>
            <li><a href="#" title="Languages">Dictionary</a></li>
            <li><a href="#" title="My Vocabulary">My Spirals<span class="badge">12</span></a></li>
            <li><a href="#" title="Help">Help</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container body-content">
      <audio id="audio"></audio>
      <div class="panel">
        <div class="panel-heading cellbox">
          <div class="searchwords pull-right">
            <input id="manageNo" type="text" class="form-control" placeholder="Search Words ...">
          </div>
          <h1>Dictionary</h1>
        </div>
        <div class="panel-body" ng-controller="wordListCtrl">

          <div class="word-item" ng-repeat="word in words">
            <h1>{{word.spell}}<span class="audio-button glyphicon" ng-class="this.word.id===currentPlay?'glyphicon-volume-up':'glyphicon-volume-down'" aria-hidden="true" ng-click="audioClick(this.word.id)"></span></h1>
            <div class="meaning" ng-repeat="meaning in word.meanings">
              <div class="explain"><span class="type">{{meaning.type}}</span>{{meaning.explain}}</div>
              <div class="example" ng-repeat="example in meaning.examples">
                <div class="example-en">{{example.exSrc}}</div>
                <div class="example-jp">{{example.exTgt}}</div>
              </div>
            </div>
          </div>

          <p>{{debuginfo}}</p>

        </div><!-- panel-body -->

      </div><!-- panel -->

    </div><!-- container body-content -->

  </body>
</html>
