<hr/>
<div>
  <div class="dbgttl">Request Info</div>
  <div class="dbginfo">
    <table>
      <tr><th>Item</th><th>Value</th></tr>
      <tr><th>QUERY_STRING</th><td><% QUERY_STRING %></td></tr>
      <tr><th>REQUEST_METHOD</th><td><% REQUEST_METHOD %></td></tr>
      <tr><th>CONTENT_TYPE</th><td><% CONTENT_TYPE %></td></tr>
      <tr><th>CONTENT_LENGTH</th><td><% CONTENT_LENGTH %></td></tr>
      <tr><th>SCRIPT_NAME</th><td><% SCRIPT_NAME %></td></tr>
      <tr><th>REQUEST_URI</th><td><% REQUEST_URI %></td></tr>
      <tr><th>DOCUMENT_URI</th><td><% DOCUMENT_URI %></td></tr>
      <tr><th>DOCUMENT_ROOT</th><td><% DOCUMENT_ROOT %></td></tr>
      <tr><th>SERVER_PROTOCOL</th><td><% SERVER_PROTOCOL %></td></tr>
      <tr><th>GATEWAY_INTERFACE</th><td><% GATEWAY_INTERFACE %></td></tr>
      <tr><th>SERVER_SOFTWARE</th><td><% SERVER_SOFTWARE %></td></tr>
      <tr><th>REMOTE_ADDR</th><td><% REMOTE_ADDR %></td></tr>
      <tr><th>REMOTE_PORT</th><td><% REMOTE_PORT %></td></tr>
      <tr><th>SERVER_ADDR</th><td><% SERVER_ADDR %></td></tr>
      <tr><th>SERVER_PORT</th><td><% SERVER_PORT %></td></tr>
      <tr><th>SERVER_NAME</th><td><% SERVER_NAME %></td></tr>
      <tr><th>POST_CONTENTS</th><td><% POST_CONTENTS %></td></tr>
      <tr><th>HTTP_COOKIE</th><td><% HTTP_COOKIE %></td></tr>
    </table>
  </div>
</div>
