body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color:#fdf6e3;
}

.body-content{
  background-color:#fdf6e3;
}

.panel{
  background-color:#fdf6e3;
}

.navbar-default {
  background-color: #004680;
  border-color: #0080c0;
  background-image: none;
}

.navbar-default .navbar-brand{
  color:#fff;
}

.navbar-default .navbar-brand:hover{
  color:#dbdbdb;
}

.navbar-default .navbar-brand:focus{
  color:#dbdbdb;
}

.navbar-default .navbar-nav > li > a{
  color:#fff;
}

.navbar-default .navbar-nav > li > a:hover{
  color:#dbdbdb;
}

.navbar-default .navbar-nav > li > a:focus{
  color:#dbdbdb;
}

.sidebar{
  margin-top:2em;
}

.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

.panel-heading h1{
  font-family:'Times New Roman', serif;
  font-size:64;
  color:#666;
  text-shadow: 0px 0px 2px #999;
  font-variant: small-caps;
}

.searchwords{
  margin-top:23px;
}

.word-item{
  line-height:1.8em;
}

.word-item h1{
  color:#b58900;
  font-family:'Open Sans', sans-serif;
}

.meaning{
  margin-bottom:0.7em;
}

.explain{
  font-size:1.4em;
  margin-bottom:0.4em;
  color:#859900;
}

.explain .type{
  font-style:italic;
  font-family:'Times New Roman', serif;
  margin-right:0.5em;
}

.example {
  font-size:1.2em;
  margin-bottom:0.5em;
}

.example-en{
  font-family:'Open Sans', sans-serif;
}

.audio-button{
  margin-left:10px;
  position:relative;
  top:-7px;
  color:#999;
  font-size:26px;
  text-shadow: 3px 3px 2px #ddd;
}

.audio-button:hover{
  color: #555;
  cursor: pointer;
}

.audio-button:active{
  text-shadow: 0px 0px 5px rgba(0,0,0,.25);
  top:-6px;
  left:1px;
}
